.card {
  padding: 60px 0;
  background-color: $color-default-white;
  text-align: center;
  max-width: 360px;
  border: 7px solid transparent;

  &:hover {
    border: 7px solid;
    border-image-slice: 1;
    border-image-source: $torch-red-to-cobalt;
  }

  h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 15px;
    margin: 0 0 18px;
  }

  span {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 64px;
  }

  @include vp-1199 {
    max-width: 440px;
    min-height: 447px;
    padding: 60px 110px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 100%;
    min-height: 384px;
    padding: 47px 34px;

    h3 {
      font-size: 22px;
      margin-bottom: 13px;
    }

    span {
      margin: 0 0 40px;
    }
  }
}

.card__price {
  position: relative;
  font-size: 60px;
  line-height: 90px;
  margin-bottom: 34px;

  b {
    position: relative;
    z-index: 2;
    color: $color-egyptian-blue;
  }

  span {
    display: inline;
    font-size: 60px;
    line-height: 90px;
    position: relative;
    color: $color-sapphire;
    z-index: 2;
  }

  &::before {
    content: attr(data-price);
    position: absolute;
    top: -50px;
    left: -10px;
    right: 0;
    font-size: 100px;
    line-height: 150px;
    color: #e8e8e8;
    font-weight: 700;
    opacity: 0.5;
    z-index: 1;
  }

  @include vp-767 {
    font-size: 48px;
    margin-bottom: 20px;

    &::before {
      font-size: 80px;
    }
  }
}

.card:hover .card__link {
  background: $torch-red-to-cobalt;
  color: $color-default-white;
  border: none;
  outline: none;
}

.card .card__link {
  display: block;
  padding: 20px;
  border: 2px solid $color-sapphire;
  color: $color-sapphire;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  max-width: 206px;
  margin: 0 auto;

  &:hover,
  &:focus-visible {
    background: $torch-red-to-cobalt;
    color: $color-default-white;
    border: none;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.6);
  }

  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  @include vp-767 {
    max-width: 100%;
  }
}

.card:has(.card__link:hover),
.card:has(.card__link:focus-visible), {
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: $torch-red-to-cobalt;
}
