.cards {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 40px;
  max-width: 1160px;

  @include vp-1199 {
    gap: 41px;
    grid-template-columns: 440px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
