.contacts {
  border-top: 1px solid #74819c;
  padding: 78px 160px 70px 120px;
  flex-basis: 50%;

  h2 {
    font-family: $ff-secondary;
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 1.62px;
    margin: 0 0 56px;
  }

  @include vp-1199 {
    padding: 75px 160px 68px 132px;

    h2 {
      font-size: 42px;
      letter-spacing: 1.26px;
    }
  }

  @include vp-767 {
    padding: 70px 15px 35px;

    h2 {
      font-size: 32px;
      letter-spacing: 0.96px;
      margin: 0 0 50px;
    }
  }
}

.contacts__wrapper {
  display: flex;

  @include vp-767 {
    display: block;
  }
}

.contacts__column {
  padding: 0 60px 0 0;
  border-right: 1px solid #74819c;

  &:last-child {
    padding: 0 0 0 60px;
    margin-right: 0;
    border: none;
  }

  @include vp-1199 {
    padding: 0 50px 0 0;

    &:last-child {
      padding: 0 0 0 50px;
    }
  }

  @include vp-767 {
    padding: 0;
    border: none;
    margin-bottom: 30px;

    &:last-child {
      padding: 0;
    }
  }
}

.contacts__contact {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  p {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
  }

  @include vp-1199 {
    margin-bottom: 30px;

    h3 {
      font-size: 20px;
      line-height: 10px;
      margin: 0 0 18px;
    }

    p {
      font-size: 18px;
    }
  }

  @include vp-767 {
    margin-bottom: 35px;
  }
}
