.faq {
  padding: 140px 103px 120px;
  background-color: $color-ghost-white;

  h2 {
    font-family: $ff-secondary;
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 1.62px;
    margin: 0 0 60px;
  }

  @include vp-1199 {
    padding: 115px 45px 100px;

    h2 {
      text-align: center;
      font-size: 42px;
      letter-spacing: 1.26px;
      margin: 0 0 50px;
    }
  }

  @include vp-767 {
    padding: 78px 15px 74px;

    h2 {
      font-size: 32px;
      letter-spacing: 0.96px;
      margin: 0 0 36px;
    }
  }
}

.faq__tabs {
  max-width: 100%;
  display: flex;

  @include vp-1199 {
    display: block;
  }
}

.faq__tabs-controls {
  width: 260px;
  margin-right: 40px;

  @include vp-1199 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin: 0 0 40px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 140px 140px;
    justify-content: center;
    gap: 8px;
    margin: 0 0 30px;
  }
}

.faq__tabs-control {
  display: block;
  border: 1px solid rgba(16, 38, 84, 0.2);
  padding: 18px;
  width: 260px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  color: $color-sapphire;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin: 0 0 8px;
  user-select: none;
  min-height: 44px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus-visible {
    outline: none;
    border: 1px solid #102654;
  }

  &:active {
    background: $torch-red-to-cobalt;
    color: $color-default-white;
    border: none;
  }

  &:disabled {
    border: 1px solid rgba(16, 38, 84, 0.2);
    color: #c8c9cc;
  }

  @include vp-1199 {
    width: 162px;
    margin: 0;
  }

  @include vp-767 {
    width: 140px;
    font-size: 16px;
    padding: 12px;
  }

  &.is-active {
    background: $torch-red-to-cobalt;
    color: $color-default-white;
    pointer-events: none;
    border: none;
  }
}

.faq__tabs-content {
  transition: height 0.3s;
}

.faq__tabs-element {
  width: 860px;

  @include vp-1199 {
    width: 100%;
  }
}

.faq__accordion-element {
  padding: 25px 0;
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);

  &:first-child {
    border-top: 1px solid rgba(28, 51, 116, 0.2);
  }

  @include vp-767 {
    padding: 20px 0;
  }
}

.faq__accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    max-width: 750px;
  }

  @include vp-1199 {
    h3 {
      max-width: 560px;
    }
  }

  @include vp-767 {
    h3 {
      font-size: 18px;
      line-height: 21px;
      max-width: 240px;
    }
  }
}

.faq__accordion-button {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #1c3374;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    width: 18px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: calc(50% - 9px);
    background-color: #1c3374;
  }

  &::after {
    transform: rotate(90deg);
  }

  &:hover,
  &:focus-visible {
    background-color: #1c3374;
    outline: none;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-767 {
    width: 32px;
    height: 32px;

    &::before,
    &::after {
      width: 12px;
      left: calc(50% - 6px);
    }
  }
}

.faq__accordion-element.is-active .faq__accordion-button {
  background-color: #1c3374;

  &::before {
    background-color: $color-default-white;
  }

  &::after {
    display: none;
  }
}

.faq__accordion-element.is-active .faq__accordion-header {
  margin-bottom: 7px;

  @include vp-767 {
    margin-bottom: 15px;
  }
}

.faq__accordion-content {
  max-width: 660px;

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }

  @include vp-1199 {
    max-width: 560px;
  }

  @include vp-767 {
    p {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
