.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 103px 40px 85px;
  background-color: $color-russian-black;

  @include vp-1199 {
    padding: 45px 45px 45px 30px;
  }

  @include vp-767 {
    display: block;
    padding: 50px 15px 60px;
  }
}

.footer__nav {
  @include vp-767 {
    margin-bottom: 45px;
  }
}
